.static_banner{
  position: relative;
  display: inline;
  background-color: blue;
  top: 0%;
}

#left_bar{
  width: 45%;
  font-size: 120%;
  float: left;


}
#right_bar{
  margin-left: 15%;
  font-size: 120%;
  float: right;
  padding-right: 3%;
}


#left_box{
  float: left;
  margin-top: 5%;
  margin-left: 5%;
  height: 50%;
  width: 60%;
}

#right_box{
  float: right;
  margin-top: 5%;
  height: 50;
  width: 33%;
}
a:link {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
