body {

  background: url(
    "http://1.bp.blogspot.com/-0VJGXKHla3A/UbO79H2Py3I/AAAAAAAADII/73dPTZ9zqT0/s320/GIF+Animated+Wallpaper-756661.jpg");

  color:white;
  font-family: "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
  font-weight: {TitleFontWeight};
  


}
